@import url('position.css');
@import url('./colors.css');
@import url('text.css');

/* Box Model Hack */
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    color: rgb(0, 0, 0);
}

/******************************************
/* BASE STYLES
/*******************************************/
html {
    font: normal 400 62.5% var(--font-4);
    display: flex;
}

body {
    width: 98vw;
    min-height: 98vh;
    margin: 1vh 1vw;
}

h2 {
    font: normal 400 var(--h2) var(--font-3);
    text-transform: capitalize;
    text-align: center;
    border-bottom: 2px solid rgba(0, 0, 0, .1);
    margin-bottom: 4rem;
}
h3 {
    font: normal 400 var(--h3) var(--font-1)
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
#drinks {
    background: rgba(255, 0, 0, .1);
    padding: 2rem 0;
    border-radius: 9.9rem;
    text-align: center;
}
#drinks select {
    font-size: 2rem;
    padding: 1rem;
    border: none;
    border-radius: .8rem;
}
#drinks select:focus {
    outline: 2px solid rgba(255, 0, 0, .1);
}

#base {
    padding: 3rem;
    border-radius: 4rem;
    background: rgba(0, 255, 0, .1);
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    position: relative;
}

#bgElement {
    background-repeat: no-repeat;
    background-size: auto 100%;
    position: relative;
}
#bgElement img {
    width: 100%;
    position: relative;
}
#bgElement div {
    position: relative;
}
#bgElement div::after {
    content: '';
    position: absolute;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, .2) 2%, rgba(40, 40, 40, .5) 30%, rgba(40, 40, 40, 1) 75%);
    border: .5rem solid rgba(255, 255, 255, 1);
}

#recipe {
    position: absolute;
    bottom: .5rem;
    left: .5rem;
    right: .5rem;
    background: rgba(0, 0, 0, .5);
    /* border-radius: .6rem; */
}
#recipe section {
    margin: 6rem 3rem;
}
#recipe h3 {
    color: white;
    padding-bottom: 2rem;
}
#recipe p,
#recipe li {
    font-family: var(--font-3);
    font-size: var(--p);
    color: var(--accent-2);
    padding-left: 2rem;
    list-style-type: disc;
    list-style-position: inside;
}